.code-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
  color: rgb(107, 5, 12);
  padding: 30px;
  font-weight: 700;
}

/* .message__container {
  width: 100%;
  height: 80vh;

  padding: 20px;
  overflow-y: scroll;
} */

.code-container > * {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.code-erea {
  width: 850px;
  height: 70vh;
  padding: 15px;
  background-color: #f8fafc;
  border: none;
  background-color: #f9f5eb;
  border-radius: 5px;
  overflow-y: scroll;
}

/* .leaveChat__btn {
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #d1512d;
    cursor: pointer;
    color: #eae3d2;
  } */
